web/assets/hotels/xml/amadeus/1ASIWTOTOUT_PRD/PNR_NameChangeReply_14_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/NMERES_14_1_1A" xmlns="http://xml.amadeus.com/NMERES_14_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_NameChangeReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">To respond to a request for name changes and/or name corrections.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="processStatus" type="ResponseAnalysisDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment is used to indicate correct processing of a transaction.  Code O is used for success and code X for failure.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="generalError" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group conveys the general error or warning details.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="enhancedPassengerGroup" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group contains passenger information for both adult and infant.  Passengers are separated by an EMS segment.  No EMS is placed between ETI segments for an adult and its related infant.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="elementManagementPassenger" type="ElementManagementSegmentType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment is used to : - separate different passengers  - specify the tatto number of the passenger to modify.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="enhancedPassengerInformation" maxOccurs="2">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Enhanced passenger information.  This group contains enhanced passenger related information and potential errors. First repetition is usually for adult and second for related infant.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="enhancedPassengerDetails" type="EnhancedTravellerInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This group contains passenger related information:  - Native or roman name  - date of birth  - title could be separated First repetition is usually for adult and second for related infant.  Will be filled imperatively if name is UTF-8 encoded.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="dateOfBirthInEnhancedPaxData" minOccurs="0" type="StructuredDateTimeInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Passenger date of birth (DDMMYYYY) If the passenger has an infant, not in a separate TIF, then the date is used for the infant date of birth.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="passengerErrorInEnhancedData" minOccurs="0" type="ErrorGroupType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This group contains the error or warning that applies to this passenger.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementManagementSegmentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the PNR segments/elements references and action to apply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reference" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnhancedTravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify traveler and personal details relating to one traveler having rich name and/or multiple names</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="travellerNameInfo" type="TravellerNameInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name attributes unique for one passenger.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaxNamesDetails" minOccurs="0" maxOccurs="5" type="TravellerNameDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">5 possible types of names, for one passenger (adult OR infant).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4" />
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType" />
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3" />
      <xs:element name="value" type="AlphaNumericString_Length1To5" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseAnalysisDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of query and the processing status associated with this response.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="responseType" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of response</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusCode" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify all the names in different alphabets associated to a same traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nameType" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name type. Allows to identify the type of name, Native name, Universal name...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceName" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="displayedName" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Displayed name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="romanizationMethod" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Romanization method.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="surname" minOccurs="0" type="AlphaNumericString_Length1To57">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" minOccurs="0" type="AlphaNumericString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger firstname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Title, when separated from the firstname field.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameInfoType">
    <xs:sequence>
      <xs:element name="quantity" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger type (PTC).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger type (PTC).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueCustomerIdentifier" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field contains the tattoo number of the passenger that will be updated. The tattoo number is retrieved from a PNR structured image.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="infantIndicator" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">1. Infant (INF) No more info in Edifact. 2. Infant given name only (INF/BILL) Infant given name will be placed in another occurence of C325 of this (adult) passenger ETI. This other C324/6353 element will contain INF. 3. Infant given and last name (INFGATES/BILL) Infant is treated as a separate ETI following immediately this (adult) passenger ETI. This following ETI element will contain INF.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="travellerIdentificationCode" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID or CR information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="age" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Age of the passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To320">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..320</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="320" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To57">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..57</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="57" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A0A61971D8638CEDA0E45001DDCC4E906346990A4B700816231895059F244B9A857F4DD47D9CEDAEDB2ED6288944C4ADFFFF3365FE4AB6C934F77F70BF1391D5D0DD2EB417AC1E7CE2AD9F0F47A7CF5653CBAE0B7F3CDA7341DA729CBE659682AC099366065098212BB1B89BAD8C474F28C8AED25C282F6B09205885308D578387C2E4D224BA9A0C6A470E590ED6BAB0C4CB517438410B43DE250E902597182E2714DDF528AE06B60855340475058676354966029EAF7CA4ADA26B613B636861255E3F5F114C487AC6BC797DE555E4390BEE1D22A3E71F6A015D5D0D2F06FF6E07C29837676CC6B2BEB70725EFF00C56B84F6B8D2581887B5078EC1EB229886D33F7BADA846C2095BCA07FCDC0C1399608C8DE1AB780FE42BBABD7F02957C600A0EB236E1D6571197120769109872F5DEC01ABED7600B58CA509CFA1DB037FF0413ECDB999728D0EBEEE5093CD2AB68E5C10095A1953C5287E6951D48BE556D88998B4AB6712B67FB735CFDA5807185343D72E38E8A649C8EB75FF36CBACD953EC8226C9C33B8CD37BBA9C6206D989052A41F29B79D4BFF0851F1EE0CB65AE3F6CE1DA9963DB617D1EADE9A8695E08FD0C368D7330D46E1DAF9F00B1F3D1CE95E1946A6BFE7A6A4BA36BD73EC7F21AA9CB66101A193A3359B772EBC23D4C6D1C009EB9E1089629CA374988EFA1CCE9CCF8CA6DABD63A3177401382527516F326547114BE943ACFB6075A143D33F247869D1B4FE243E8258E3B0AFBCC9E6C3170546D3332419E835A15D16AFA7DE8F0F9965729E99AE26655A54ED246B5BB06734E1BE0E551D66CE28F02226181B0CE61DC68FC8F5DB9C0C06AC832446197BD75F64CB6CB75CAC76A3CBCB3D99BA94DA8A3CBB63F05C915E3B89BB697E2B36AB87FCAC0F971EA4B81A9D63B198E7AB7CCD2A1A088D2792B803DFA92346B47AD2513271D991912D4411BBC609989CA43D023B4BF4477E051559AA175D8C2ED94F4F4B994000050000
-->

