web/assets/hotels/xml/amadeus/1ASIWTOTOUT_PDT/PNR_NameChange_14_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/NMEREQ_14_1_1A" xmlns="http://xml.amadeus.com/NMEREQ_14_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_NameChange">
    <xs:annotation>
      <xs:documentation xml:lang="en">To request name changes</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactionCode" type="ActionIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Indicates the name update (UPD), name change (CHG) or name completion (CMP) transaction.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="enhancedPassengerGroup" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group contains passenger information for both adult and infant.  Passengers are separated by an EMS segment.  No EMS is placed between ETI segments for an adult and its related infant.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="elementManagementPassenger" type="ElementManagementSegmentType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment is used to : - separate different passengers  - specify the tatto number of the passenger to modify.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="enhancedPassengerInformation" maxOccurs="2">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This group contains passenger related information:  - Enhanced passenger data (Native name, Roman name with separated title)  - date of birth First repetition is usually for adult and second for related infant.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="enhancedTravellerNameInfo" type="EnhancedTravellerInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Rich name information for a given passenger.  To be imperatively used if name is UTF-8 encoded.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="dateOfBirthInEnhancedPaxData" minOccurs="0" type="StructuredDateTimeInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Passenger date of birth (DDMMYYYY) If the passenger has an infant, not in a separate TIF, then the date is used for the infant date of birth.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ActionIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide details of action required or taken, the flights to which this action refers, and reasons for action taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="actionRequestCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides type of required action, coded.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementManagementSegmentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the PNR segments/elements references and action to apply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reference" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnhancedTravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify traveler and personal details relating to one traveler having rich name and/or multiple names</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="travellerNameInfo" type="TravellerNameInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name attributes unique for one passenger.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaxNamesDetails" minOccurs="0" maxOccurs="3" type="TravellerNameDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 possible types of names in input, for 1 passenger (adult OR infant)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3" />
      <xs:element name="value" type="AlphaNumericString_Length1To5" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify all the names in different alphabets associated to a same traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nameType" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name type (Native name, Universal name...).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceName" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference name. This field should not be filled except in case of referecne name change.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="surname" minOccurs="0" type="AlphaNumericString_Length1To57">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" minOccurs="0" type="AlphaNumericString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger firstname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Title.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameInfoType">
    <xs:sequence>
      <xs:element name="quantity" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity. The quantity is always 1.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger type (PTC).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger type (PTC).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueCustomerIdentifier" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field contains the tattoo number of the passenger that will be updated. The tattoo number is retrieved from a PNR structured image.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="infantIndicator" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">1. Infant (INF) No more info in Edifact. 2. Infant given name only (INF/BILL) Infant given name will be placed in another occurence of C325 of this (adult) passenger ETI. This other C324/6353 element will contain INF. 3. Infant given and last name (INFGATES/BILL) Infant is treated as a separate ETI following immediately this (adult) passenger ETI. This following ETI element will contain INF.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="travellerIdentificationCode" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID or CR code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="age" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field conveys age data for the passenger or associated infant</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To57">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..57</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="57" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A0AA1971D8638769B0243001DDCC4ED06346997A6D82540A05A4C2254963C512EEA157DF751B6B376BB6CBB18222593D2F7FFBC2A96C52A5F17F3EDCD529CA6D964947E1A6567FC1B280BA864CBB3C9F43C9D9E4DF8D562FD314DA769CAF2451EDA1AF0521BB0B2024189ED85445DAE633A7946C51E24C292F6B09625884308F5743C7EAE4C222BA9A0C1A474D5983D345619986B2FC6082168BBC7B1D225B2F200E5E31D7D2B29826F80954E011D41619D8D515581A568D8AB6A69DBD84ED8C6184AD4ADD7FB43102779DF8EDF7A577B0D41FA964BABF8CCD99D5654434BC3BFD89DF3950CDAD9296FAC6CC2C179FD03146F10BAE34A63691C361E3806AFCB605A4EFF3C684535124EE4523EE2C76698C804636C0C5FC57B205FD1EDFD13A8E48429D8C9C6842B5F475C4AECA44160CA350F06EEE07B03B6845B19CAC3B003F6E29F60827D3BF312057ADDBE3C81477A15AD3C18A032B4927BEAD0BEB21DC9B76A0C317351C92EEEE4EC7E8EABBF1430AE9466406EDC5E918CF3E9E67391CF3785D23B5986B5730637C57A3BD718A40D33528AF423E5360BE91F212ADE9FC14E6BDC5CBB3DD5B2FBEE225ADD58D3B20AFC1E0618DDFA52835178E77CF8858F1E8E74AF1C23D3DF7373525D9BC139F6BF10D54EDBB084D0CBD199CD3B17DE11EAE268E084F54F8844318E523A4EB3218797CEE74653EDC1B1D10BBA049C9393A83799B2A78895F421D6BDB7BAD4A11D1E12BCB4683A7F121F41AC713C545EE78BF18B02A3E919920CF49AD02E8BD753EFC787CC323BCE4C5F93321DAA6E92B52DD9339A70D384BA0997CE28F02226181B8D163DC60FC8F5DB9C8C46AC8724B29CBDEB2FF2DB7C7BBB5C6DB3C9843C5D496D45915F3378AE49AEADC4EDBCB812EBD57D7194874B0F529C67C7582C17C5AAF8CA6A9A078D0752B8E7DE8B23325A3DE9A89838EDC1C88EA1884DE300CC0ED2EE811D15FA333FC82DB209FB09FD4E8BEBFD040000
-->

